.currencyList{
    padding-top: 15px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 60px;
}

.head{
    height: 30px;
    background-color: #0A3E6B;
    color: white;
}

.sell, .buy {
  float: right;
  width: 15%;
}

@media screen and (max-width: 892px) {
    .currencyList {
      width: auto;
      margin: 0px 15px;
    }
}